services:
  user:
    build: ./user
    ports:
      - "8081:8080"

  payment:
    build: ./payment
    ports:
      - "8082:8080"

  order:
    build: ./order
    ports:
      - "8083:8080"

  gateway:
    build: ./gateway
    ports:
      - "8080:8080"
    depends_on:
      - user
      - order
      - payment

