spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: user
          uri: http://localhost:8080
          predicates:
            - Path=/user/**
        - id: order
          uri: http://localhost:8080
          predicates:
            - Path=/order/**
        - id: payment
          uri: http://localhost:8080
          predicates:
            - Path=/payment/**
