spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: user
          uri: http://user:8080
          predicates:
            - Path=/user/**

        - id: order
          uri: http://order:8080
          predicates:
            - Path=/order/**

        - id: payment
          uri: http://payment:8080
          predicates:
            - Path=/payment/**
